/* Importação das Fonts Google Fonts) 
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

/* Estilos gerais (Todo o projeto) */

/* 2ª Digitação (Aqui) */
/* ================= IMPORTAÇÃO DE FONTES ================= */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&family=Teko:wght@600&display=swap');

/* ================= ESTILOS GERAIS ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ================= HEADER ================= */

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 24px;

    color: #FFF2E780;
    margin-top: 9px;
    margin-left: 25px;
    margin-right: 25px;
}

.menu a:hover {
    color: #ffffff;
}

.menu a:visited {
    color: #FFF2E780;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
    margin-top: 8px;
}

.github:hover {
    color: #A45A49;
}

/* Menu Hamburger */

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* ================= MAIN ================= */

main {
    display: flex;
    flex-direction: column;
}

.container {
    background: #181012;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.container.slide-from-right {
    transform: translateX(0);
    opacity: 1;
}

.info {
    max-width: 1120px;
    height: 60vh;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

    align-items: center;
    padding: 0rem 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news {
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #A45A49;
}

.amarelo {
    color: #E7A80E;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 56px;
    color: #FFFFFF;
}

hr {
    border-color: #A45A49;
}

.subtitle {
    color: #C7BAB3;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Galeria */

.images {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.images figure img {
    width: 100%;
    border-radius: 0.5rem;
}

/* Botão */

.button {
    width: 100%;
    max-width: 1120px;
    padding: 1rem;
    margin: auto;
    transform: translateY(-50%);
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #A45A49;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #783F37;
}

/* ================= RECEITAS ================= */

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
    padding-top: 10px;
}

.receitas-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-subtitle {
    color: #C7BAB3;
    font-size: 1rem;
    font-weight: 400;
}

article {
    column-count: 2;
}

.card {
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: -3rem;
}

.card-2 {
    background: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    flex-basis: 29rem;
    margin-top: 2rem;
}

.card-3 {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cappuccino {
    color: #FFF2E7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.avaliacao {
    color: #756A67;
    font-size: 1rem;
    font-weight: 500;
}

.descricao {
    color: #C7BAB3;
    font-size: 1rem;
    font-weight: 400;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.author img {
    border-radius: 20rem;
    width: 1.5rem;
}

.ignacio {
    color: #C7BAB3;
    font-size: 1rem;
    font-weight: 600;
}

/* ================= FOOTER ================= */

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer-container {
    color: #FFF2E7;
    font-size: 1rem;
    font-weight: 500;
}

.footer-content {
    color: rgba(255, 242, 231, 0.50);
    font-size: 1rem;
    font-weight: 500;
}

/* ================= RESPONSIVIDADE ================= */

@media screen and (max-width: 768px) {

    nav {
        padding: 1rem 2rem;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .info {
        flex-direction: column;
        height: auto;
        gap: 2rem;
        text-align: center;
    }

    .images {
        column-count: 1;
    }

    article {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .button {
        padding-bottom: 0;
    }
}